{% extends '_layout_new.twig' %}

{% block Part1 %}
{% endblock %}
{% block Part2 %}
    <!-- Content of Modal Loadind box -->
       <div class="modal fade bd-LoadingPicture-modal-lg" id="modalLoadPicture" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLabel">Choix d'une image
                       </h5>
                   </div>
                    <form action="adminNewPictureRecipeInDB.html" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                                <input type="hidden" id="customHiddenDishId" name ="customHiddenDishId" value={{ recipes.getDishId  }}>
                                <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Annulation {{ recipes.getDishId  }} </button>
                            <input class ="btn btn-group-sm btn-primary" type="submit" name="ValidationLoadingPic"/>
                        </div>
                   </form>
                </div>
            </div>
        </div>


    <!-- End of Content of Modal Loadind box -->
    <!-- Content of page  -->
    <div class="container-fluid " id="firstPartHome">
        {% set PicsRecipeDir ='/assets/pics/' %}
        <form action="adminSendUpdateRecipe.html?dishId={{ recipes.getDishId  }}" method="post"  enctype="multipart/form-data" >
            <!-- Row with image and status block-->
           <div class="row "  >
               <!-- Recipe picture-->
                <div class="col-lg-6  mx-auto mt-5">
                    <img class="img-fluid" src="{{ HOST }}{{ PicsRecipeDir }}{{ recipes.getImagePathName}}" alt="{{ recipes.getImagePathName}}">

                    <div class="card-img-overlay ">

                    <button type="button" class="btn btn-link "
                            id ="modalLoadingImage"
                            data-toggle="modal"
                            data-target="#modalLoadPicture">
                        <i class="far fa-image fa-2x"></i></button>
                    </div>
                </div>

              <!-- Recipe options -->
                <div class="col-lg-6  mx-auto  mt-5" style="border : 1px solid black;background-color:ghostwhite;opacity:0.5;">
                    <div class="row " style="border : 1px solid black;background-color:grey;opacity: 0.5;" >
                            <h3 class="col my-3 mx-auto" >Status</h3>
                    </div>
                    <div class="row" >
                        <!-- Recipe Status in database-->
                        <div class="col-lg-12  mx-auto" >
                            {% set checkedStatus = recipes.getStatus %}
                            <!-- Draft Option-->
                            <div class="custom-control custom-radio custom-control-inline">
                               {% if checkedStatus=="D" %}
                                <input type="radio" id="customRadioInline1" name="customRadioInline1"  value="D" class="custom-control-input" checked  >
                               {% else %}
                                 <input type="radio" id="customRadioInline1" name="customRadioInline1" value="D" class="custom-control-input" >
                               {% endif %}
                               <label class="custom-control-label" for="customRadioInline1">Brouillon {{ recipes.getStatus }}</label>
                            </div>
                            <!-- Ready option-->
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if checkedStatus=="R" %}
                                  <input type="radio" id="customRadioInline2" name="customRadioInline1" value="R" class="custom-control-input" checked>
                                {% else %}
                                  <input type="radio" id="customRadioInline2" name="customRadioInline1"  value="R" class="custom-control-input" >
                                {% endif %}
                                <label class="custom-control-label" for="customRadioInline2">Pret</label>
                            </div>
                            <!-- Wainting Option-->
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if checkedStatus=="W" %}
                                  <input type="radio" id="customRadioInline3" name="customRadioInline1"  value="W" class="custom-control-input" checked>
                                {% else %}
                                  <input type="radio" id="customRadioInline3" name="customRadioInline1" value="W" class="custom-control-input" >
                                {% endif %}
                                <label class="custom-control-label" for="customRadioInline3">En attente</label>
                            </div>
                        </div>
                    </div><!-- /row of radio option-->
                    <div class="row">
                        <!-- Recipe Diffiulty in database-->
                        <div class="col-lg-6  ">
                            {% set Difficulty = recipes.getDifficulty %}
                            <!-- Difficulty parametrage-->
                                <div class="form-group">
                                    <label for="formControlRangeDiff">Difficulty </label>
                                    <input type="range" list="tickmarks" class="form-control-range" name="DifficultyFormValue" id="formControlRange" min="0" max="3" step="1" value= {{  Difficulty }}  >
                                    <datalist id="tickmarks">
                                        <option value="0" label="0">

                                        <option value="1" label="1">

                                        <option value="4" label="4">
                                    </datalist>
                                </div>
                        </div>
                        <!-- Recipe  Portion-->
                        <div class="col-lg-6 mx-auto ">
                            {% set Portion = recipes.getPortion %}
                                <div class="form-group">
                                    <label for="formControlRangePortion">Portion </label>
                                    <input  type="number" class="form-control-range" name="PortionFormValue" id="number" value = {{ Portion }}>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mx-auto ">
                            </div >
                        <!-- Recipe  Category-->
                        <div class="col-lg-12 mx-auto ">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckboxCat">Entrées</label>
                                {% if recipes.getCat1==1 %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat1" value="1" name="CategoryValueCatchoix[]" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat1" value="1" name="CategoryValueCatchoix[]" >
                                {% endif %}
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckboxCat">Plats </label>
                                {% if recipes.getCat2==1 %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat2" value="2" name="CategoryValueCatchoix[]" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat2" value="2" name="CategoryValueCatchoix[]" >
                                {% endif %}
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckboxCat">Desserts </label>
                                {% if recipes.getCat3==1 %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat3" value="3" name="CategoryValueCatchoix[]" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat3" value="3" name="CategoryValueCatchoix[]" >
                                {% endif %}
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckboxCat">Sélection </label>
                                {% if recipes.getCat4==1 %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat4" value="4" name="CategoryValueCatchoix[]" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat4" value="4" name="CategoryValueCatchoix[]" >
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Origin-->
                    <div class="row">
                        <div class="col-lg-12 mx-auto ">
                            {% set Origin = recipes.getOrigin %}
                            <div class="form-group">
                                <label for="formControlRangeOrigin">Origin </label>
                                <input  type="text" class="form-control-range" name="OriginFormValue" id="formOriginForm"  value = {{ Origin }}>
                            </div>
                        </div>
                        <div class="col-lg-12 mx-auto ">
                            {% set PreparationTime = recipes.PreparationTime %}
                            <div class="form-group">
                                <label for="formControlRangePreparationTime">Temps de préparation : </label>
                                <input  type="text" class="form-control-range" name="PreparationTimeFormValue" id="formPreparationTime"  value = {{ PreparationTime }}>
                            </div>
                        </div>
                        <div class="col-lg-12 mx-auto ">
                            {% set CookingTime = recipes.CookingTime %}
                            <div class="form-group">
                                <label for="formControlCookingTime">Temps de cuisson : </label>
                                <input  type="text" class="form-control-range" name="CookingTimeFormValue" id="formCookingTimeForm"  value = {{ CookingTime }}>
                            </div>
                        </div>
                    </div>
                </div>
           </div><!-- END Recipe options -->
           <div class="col-lg-6  mx-auto">
                <label for="Name"></label><br />
                <input type="text" id="newName" name="newName" value="{{ recipes.getName }}" />
           </div>
           <div class="row mx-2"  >
               <!--Bloc recipe-->
               <div class="col-lg-6 mx-auto">
                   <div>
                       <label for="comment"></label><br />
                       <textarea id="newRecipePreparation" name="newRecipe" cols="200" rows="15" >{{ recipes.getRecipe}}</textarea>
                   </div>
               </div>
               <!--Bloc ingredient-->
               <div class="col-lg-6 mx-auto" >
                   <!--First row with Ingredients Title-->
                   <div  class="row mx-2" style="border: 2px solid black; background-color:grey;opacity:0.5;">
                       <div class="col-lg-12 mx-auto">
                         <h3 class="my-3 mx-auto"  >Ingredients</h3>
                       </div>
                   </div>
                   <!--second  row with Ingredients Select Block-->


                   <div class="row mx-2 " style="border : 1px solid black;background-color:ghostwhite;opacity:0.5;" >
                       <div class="col-lg-4 " >
                           <select data-placeholder="Ingredients" class="NewRecipeIngredient " name="NewRecipeIngredient" id="NewRecipeIngredient"  >
                               {% for ingredient in ingredients[0] %}
                                   <option value="{{ ingredient.getId }}">{{ ingredient.getName }}</option>
                               {% endfor %}

                           </select>
                       </div>

                       <div class="col-lg-4 mx-auto  " >
                           {% set Portion = recipes.getPortion %}
                           <div class="form-group">
                               <label for="formControlRangePortion">Quantité </label>
                               <input  type="number" class="form-control-range" name="QuantityFormValue" id="quantity" value = {{ recipes.getQuantity }}>
                           </div>
                       </div>
                       <div class="col-lg-4 mx-auto ">
                           {% set Portion = recipes.getPortion %}
                           <div class="form-group">
                               <label for="formControlRangePortion">Unité </label>
                               <input  type="text" class="form-control-text" name="UnitFormValue" id="unit" value = {{ recipes.getUnit }}>
                           </div>
                       </div>

                       <div class="row mx-auto ">
                           <div class="col-lg-4 mx-auto ">
                                 <input class ="btn btn-group-sm btn-primary " type="submit" />
                           </div>
                        </div>
                   </div>
                   <!--third Bloch with ingredients List-->
                   <div  class="row mx-2 align-content-start "    style="border:1px solid black;height :350px;overflow-y: scroll;background-color:ghostwhite;opacity:0.5;"; >
                       {% for ingredient in ingredients[1] %}
                           {% if ingredient.unit is empty  %}
                           <p class="mt-0 mb-0 pt-0 pb-0  "> <a href="adminRemoveIngredientRecipe.html?IngredientId={{ ingredient.getIngredientId }}&amp;RecipeId={{ ingredient.RecipeId }}" class="btn btn-link ">
                                   <i class="fas fa-eraser"></i>
                               </a>  {{ ingredient.Name }}:{{ ingredient.quantity }},
                           </p>
                           {% else %}
                               <p class="mt-0 mb-0 pt-0 pb-0  "> <a href="adminRemoveIngredientRecipe.html?IngredientId={{ ingredient.getIngredientId }}&amp;RecipeId={{ ingredient.RecipeId }}" class="btn btn-link ">
                                       <i class="fas fa-eraser"></i>
                                   </a>{{ ingredient.Name }} : {{ ingredient.quantity }} {{  ingredient.unit }} ,
                               </p>
                           {% endif %}
                       {% endfor %}
                   </div>

               </div>
           </div>
            <div class="row text-center  "  >
                <div class="col-lg-12 my-5 " >
                    <input class ="btn btn-group-sm btn-primary" type="submit" name="Validation"/>

                    <a href="adminRecipes.html" class ="btn btn-group-sm btn-primary"> ANNULER</a>
                </div>
            </div>
         </form>

        <div class="row text-center  "  >
            <div class="col-lg-12 my-5 " >

                <a href="adminRecipes.html" class ="btn btn-group-sm btn-primary"> Retour aux recettes</a>
            </div>
        </div>


    </div>

{% endblock %}

