{% extends '_layout_new.twig' %}

{% block Part1 %}

{% endblock %}

{% block Part2 %}
    <div class="container-fluid " id="firstPartHome">
        <div class="row" >
            <!-- Recipe Status in database-->
            <div class="col-lg-6 mx-auto">
                <img class="img-fluid" src="http://placehold.it/500x250" alt="">
                <!-- <img class="img-fluid" src="./assets/pics/1584_600_350.png" alt="">-->
                <div class="card-img-overlay ">
                    <a class="btn-link" href="" ><i class="far fa-image fa-2x"></i></a>
                </div>
            </div>
            <div class="col-lg-6  mx-auto">
                <!-- Recipe Status in database-->
                <div class="row">
                    <div class="col-lg-12  mx-auto" style="border : 1px solid black">
                        {% set checkedStatus = recipes.getStatus %}
                        <form action="adminUpdateStatusRecipe.html?dishId={{ recipes.getDishId  }}" method="post">
                            <button type="submit" class ="btn btn-link"><i class="fas fa-share-square"></i></button>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if checkedStatus=="D" %}
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"  value="D" class="custom-control-input" checked  >
                                {% else %}
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1" value="D" class="custom-control-input" >
                                {% endif %}
                                <label class="custom-control-label" for="customRadioInline1">Brouillon {{ recipes.getStatus }}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if checkedStatus=="R" %}
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" value="R" class="custom-control-input" checked>
                                {% else %}
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"  value="R" class="custom-control-input" >
                                {% endif %}
                                <label class="custom-control-label" for="customRadioInline2">Pret</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if checkedStatus=="W" %}
                                    <input type="radio" id="customRadioInline3" name="customRadioInline1"  value="W" class="custom-control-input" checked>
                                {% else %}
                                    <input type="radio" id="customRadioInline3" name="customRadioInline1" value="W" class="custom-control-input" >
                                {% endif %}
                                <label class="custom-control-label" for="customRadioInline3">En attente</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <!-- Recipe Diffiulty in database-->
                    <div class="col-lg-6  ">
                        {% set Difficulty = recipes.getDifficulty %}
                        <form action="adminUpdateDifficultyRecipe.html?dishId={{ recipes.getDishId  }}" method="post">
                            <div class="form-group">
                                <button type="submit" class ="btn btn-link"><i class="fas fa-share-square"></i></button>
                                <label for="formControlRangeDiff">Difficulty </label>
                                <input type="range" class="form-control-range" name="DifficultyFormValue" id="formControlRange" min="0" max="3" step="1" value= {{  Difficulty }}  >
                            </div>
                        </form>

                    </div>
                    <!-- Recipe  Portion-->
                    <div class="col-lg-6 mx-auto ">
                        {% set Portion = recipes.getPortion %}
                        <form action="adminUpdatePortionRecipe.html?dishId={{ recipes.getDishId  }}" method="post">
                            <div class="form-group">
                                <button type="submit" class ="btn btn-link"><i class="fas fa-share-square"></i></button>
                                <label for="formControlRangePortion">Portion </label>
                                <input  type="number" class="form-control-range" name="PortionFormValue" id="number" value = {{ Portion }}>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="row">
                    <!-- Recipe  Category-->

                    <form action="adminUpdateCategoryRecipe.html?dishId={{ recipes.getDishId  }}" method="post">
                        <div class="col-lg-12 mx-auto ">
                            <button type="submit" class ="btn btn-link"><i class="fas fa-share-square"></i></button>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckboxCat">Entrées</label>
                                {% if recipes.getCat1==1 %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat1" value="1" name="CategoryValueCatchoix[]" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat1" value="1" name="CategoryValueCatchoix[]" >
                                {% endif %}
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckboxCat">Plats </label>
                                {% if recipes.getCat2==1 %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat2" value="2" name="CategoryValueCatchoix[]" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat2" value="2" name="CategoryValueCatchoix[]" >
                                {% endif %}
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckboxCat">Desserts </label>
                                {% if recipes.getCat3==1 %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat3" value="3" name="CategoryValueCatchoix[]" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat3" value="3" name="CategoryValueCatchoix[]" >
                                {% endif %}
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckboxCat">Sélection </label>
                                {% if recipes.getCat4==1 %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat4" value="4" name="CategoryValueCatchoix[]" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxCat4" value="4" name="CategoryValueCatchoix[]" >
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Origin-->
                <div class="row">
                    <div class="col-lg-12 mx-auto ">
                        {% set Origin = recipes.getOrigin %}
                        <form action="adminUpdateOriginRecipe.html?dishId={{ recipes.getDishId  }}" method="post">
                            <div class="form-group">
                                <button type="submit" class ="btn btn-link"><i class="fas fa-share-square"></i></button>
                                <label for="formControlRangeOrigin">Origin </label>
                                <input  type="text" class="form-control-range" name="OriginFormValue" id="formOriginForm"  value = {{ Origin }}>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6  mx-auto">
            <form action="adminSendNewRecipeName.html?dishId={{ recipes.getDishId  }}" method="post">
                <div>
                    <label for="Name"></label><br />
                    <input type="text" id="newName" name="newName" value=" {{ recipes.getName }}" />
                    <input class ="btn btn-group-sm btn-primary" type="submit" name="Validation" />
                    <input class ="btn btn-group-sm btn-primary" type="submit" value ="ANNULER"   name="Annulation"/>
                </div>
            </form>

        </div>


   </div>
   <div class="row ">
       <div class="col-lg-4 mx-auto">
           <form action="adminSendNewRecipePreparation.html?dishId={{ recipes.getDishId  }}" method="post">
               <div>
                   <label for="comment"></label><br />
                   <textarea id="newRecipePreparation" name="newRecipePreparation" cols="200" rows="15" >{{ recipes.getRecipe}}</textarea>
               </div>
               <div>
                   <input class ="btn btn-group-sm btn-primary" type="submit" name="Validation"/>
                   <input class ="btn btn-group-sm btn-primary" type="submit" value ="ANNULER"   name="Annulation"/>
               </div>
           </form>
        </div>

     </div>
     <div class="col-md-4">
         <h3 class="my-3">Ingredients</h3>
         <ul>
             <li>Lorem Ipsum</li>
             <li>Dolor Sit Amet</li>
             <li>Consectetur</li>
             <li>Adipiscing Elit</li>
         </ul>
     </div>
{% endblock %}

