{% extends '_layout_new.twig' %}

{% block Part1 %}
    <div class="container-fluid  " id="firstPartHome" >
        <!--Select of cat 1-->
        <div class="row mt-0 justify-content-center " >
            <div class="mt-3 col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck  ">
                <a href="category.html?category=1#RecipeList">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src= "{{ HOST }}assets/pics/entree_1920_1080.jpg" alt="Entrées">
                         <!--<img class="card-img" src="http://placehold.it/700x400" alt="Plats_Principal">-->
                        <div class="card-img-overlay">
                            <h5 class="card-title">Entrées</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!--Select of cat 2-->
            <div class="mt-3 col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck ">
                <a href="category.html?category=2#RecipeList">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src= "{{ HOST }}assets/pics/Main_1920_1080.jpg" alt="Plats">
                        <!--<img class="card-img" src="http://placehold.it/700x400" alt="Plats_Principal">-->
                        <div class="card-img-overlay">
                            <h5 class="card-title">Plats</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <!--Select of cat 3-->
            <div class=" mt-3 col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck "  >
                <a  href="category.html?category=3#RecipeList">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src= "{{ HOST }}assets/pics/dessert_1920_1080.jpg" alt="Desserts">
                        <!--<img class="card-img" src="http://placehold.it/700x400" alt="Plats_Principal">-->
                        <div class="card-img-overlay">
                            <h5 class="card-title">Desserts</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!--Select of cat 4-->
            <div class="mt-3 col-lg-3 col-md-4 col-sm-6 portfolio-item card-deck  ">
                <a href="category.html?category=4#RecipeList">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src= "{{ HOST }}assets/pics/selection_1920_1080.jpg" alt="Selection">
                        <!--<img class="card-img" src="http://placehold.it/700x400" alt="Plats_Principal">-->
                        <div class="card-img-overlay">
                            <h5 class="card-title">Selections</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center " id="RecipeList">
            <div class="col-lg-12">
                <form class="form-inline justify-content-center">
                    <input class="form-control " type="search" placeholder="Recettes , Ingredients , ..." aria-label="Search">
                    <button class="btn btn-outline-success  my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block Part2 %}
    <div class="container " id="secondPartHome">

        <div class="row justify-content-center ">
            <div class="col-lg-12">
                {{ message }}
            </div>
        </div>
            <div class="row" id="RecipeList">
                {% for recipe in recipes %}
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item mx-auto   " >
                        <a class="nav-link" href="recipe.html?dishId={{ recipe.getDishId }}">
                            <div class="card ">
                               <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                                <div class="card-body">
                                    <h4 class="card-title" >
                                        {{recipe.getName }}
                                    </h4>
                                    <h6>Difficulté : {{ recipe.getDifficulty }}</h6>
                                    <h6>Préparation :{{ recipe.getPreparationTime }} </h6>
                                    <h6>Cuisson : {{ recipe.getCookingTime }} </h6>

                                    <h6>Origine  : {{ recipe.getOrigine }} </h6>
                                    <h6>Avis : </h6>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}