{% extends '_layout_new.twig' %}

   {% set PicsSelectPath ="assets/pics/select/"%}
    {% set PicsRecipeDir ='assets/pics/' %}
    {% set PicsReplacement = 'NoPictures_1920_1080.jpg'  %}

{% block Part1 %}
{% endblock %}
{% block Part2 %}

    <!-- Content of page  -->
    <div class="container-fluid " id="firstPartHome">
        {% set PicsRecipeDir ='/assets/pics/'%}
            <div class="row mr-1">
                <!-- Recipe picture -->
                <div class="col-lg-6  mx-auto mt-5">
                    <img class="img-fluid" src="{{ HOST }}{{ PicsRecipeDir }}{{ recipes.getImagePathName}}" alt="{{ recipes.getImagePathName}}">
                </div>

                <!-- Recipe options -->
                <div class="col-lg-6  mx-auto mt-5  border border-dark " >
                    <div class="row border border-dark detailRecipe "  >
                        <h3 class="col my-3 mx-auto" >Détails</h3>
                    </div>
                    <div  >
                        <div class="col-lg-12 mx-auto border  ">
                            <h5>Catégotie(s):</h5>
                        </div >
                        <!-- Recipe  Catego
                        ry-->
                        <div class="col-lg-12 mx-auto ">
                            <div class="form-check form-check-inline">

                                {% if recipes.getCat1==1 %}
                                    <p>Entrées</p>
                                {% endif %}
                            </div>
                            <div class="form-check form-check-inline">
                                {% if recipes.getCat2==1 %}
                                    <p>Plats</p>
                                {% endif %}
                            </div>
                            <div class="form-check form-check-inline">
                                {% if recipes.getCat3==1 %}
                                    <p>Desserts</p>
                                {% endif %}
                            </div>
                            <div class="form-check form-check-inline">
                                {% if recipes.getCat4==1 %}
                                    <p>Nôtre sélection </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Recipe Diffiulty in database-->
                        <div class="col-lg-6  ">
                            <p> Difficulté: <span> <i class="fas fa-hand-paper"></i>  {{recipes.getDifficulty}} </span> </p>
                        </div>
                        <!-- Recipe  Portion-->
                        <div class="col-lg-6 mx-auto ">
                            {% set Portion = recipes.getPortion %}
                            <p> Portion(s) :  <span> <i class="fas fa-chart-pie"></i>  {{recipes.getPortion}} </span> </p>
                        </div>
                    </div>


                    <!-- Origin-- and portion >-->
                    <div class="row">
                        <div class="col-lg-12 mx-auto ">
                            <p> Origine(s) :  <span> <i class="fas fa-globe"></i> {{recipes.getOrigin}} </span> </p>
                        </div>
                        <div class="col-lg-12 mx-auto ">
                            <p class="mb-0"> Temps de Preparation :  <span> <i class="far fa-clock"></i></i>  {{recipes.PreparationTime}} </span> </p>
                            <p class="" > Temps de cuisson :  <span> <i class="far fa-clock"></i>  {{recipes.CookingTime}} </span> </p>
                        </div>

                    </div>
                </div>
            </div><!-- END Recipe options -->
            <div class="col-lg-6  mx-auto mt-5 mb-5">
                <h2 class="" > {{ recipes.getName }}  </h2>
            </div>
            <div class="row mx-2"  >
                <div class="col-lg-7 mx-auto">
                    <div class="text-body">
                        {{ recipes.getRecipe | raw }}
                    </div>
                </div>
                <div class="col-md-5 " >
                    <div class="row mx-2 border border-dark ingredientsRecipe"  >
                        <h3 class="my-3 mx-auto" >Ingredients</h3>
                    </div>
                    <div  class="row mx-2 align-content-start text-body "  style="border : 1px solid black;height :350px;overflow-y: scroll" >
                        {% for ingredient in ingredients[1] %}
                            <p class="mt-1 mb-1 pt-1 pb-1  ">
                                {{ ingredient.Name }} : {{ ingredient.quantity  |round(2,'ceil')}}  {{ ingredient.unit }}  , </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row text-center  "  >
                <div class="col-lg-12 my-5 " >

                </div>
            </div>
        <div class="row text-center  "  >
            <div class="col-lg-12 my-5 " >
                <a href="home.html" class ="btn btn-group-sm btn-primary"> Retour aux recettes</a>
            </div>
        </div>
    </div>

{% endblock %}

